#**
 *  Render a complex document in the results list
 *#


## Load Mime-Type List and Mapping
#parse('mime_type_lists.vm')
## Sets:
## * supportedMimeTypes, AKA supportedtypes
## * mimeExtensionsMap, AKA extMap



  #foreach ($hl_ary in $response.highlighting)
        #set($hitField = $hl_ary)
  #end

  #set($mlt = $mltResults.get($docId))
  #set($mltOn = $params.getBool('mlt'))

#############################

#parse("richtext_fields.vm")

#############################


#set($fields = $detail_fields)
#if ($mltOn != true)
    #set($fields = $result_fields)
#end

#foreach ($field in $fields)

    #set($name = $field['name'])
    #set($label = $field['label'])
    #set($access_point = $field['access_point'])

    #if ($hitField[$name])
        #set($value_array = $hitField[$name])
    #else
        #set($value_array = $doc.getFieldValue($name))
    #end

    <div>
        #if($label != false)
            <strong>$label</strong>:
        #end
        
        #if (!$value_array.size())
            #set ($value_array = [$value_array])
        #end

        #set( $comma = "" )
        #foreach ($value in $value_array)
            <span>
                #set($display_value = $value)
                #if ($label == false)
                    #set($display_value = "<strong>"+$value+"</strong>")
                #end


                $comma

                #if($access_point==false)
                    $display_value
                #else
                    #if($name == 'title')
                        #set($access_point = '?q=id:%22'+$docId+'%22&mlt=true')
                    #else
                        #set($access_point = '?q='+$name+':%22'+$value+'%22')
                    #end
                    <a href="$access_point">
                        $display_value
                    </a>
                #end
            <span>
            #set( $comma = "," )
        #end



    </div>
#end

#############################


## Title
#if($doc.getFieldValue('title'))
  #set($title = $esc.html($doc.getFirstValue('title')))
#else
  #set($title = "["+$doc.getFieldValue('id')+"]")
#end

## URL
#if($doc.getFieldValue('url'))
  #set($url = $doc.getFieldValue('url'))
#elseif($doc.getFieldValue('resourcename'))
  #set($url = "file:///$doc.getFieldValue('resourcename')")
#else
  #set($url = "$doc.getFieldValue('id')")
#end

## Sort out Mime-Type
#set($ct = $list.get($doc.getFirstValue('content_type').split(";"),0))
#set($filename = $doc.getFieldValue('resourcename'))
#set($filetype = false)
#set($filetype = $mimeExtensionsMap.get($ct))

## TODO: falling back to file extension is convenient,
## except when you don't have an icon for that extension
## example "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
## document with a .docx extension.
## It'd be nice to fall back to an "unknown" or the existing "file" type
## We sort of do this below, but only if the filename has no extension
## (anything after the last dot).

#if(!$filetype)
  #set($filetype = $filename.substring($filename.lastIndexOf(".")).substring(1))
#end

## #if(!$filetype)
##   #set($filetype = "file")
## #end
## #if(!$supportedMimeTypes.contains($filetype))
##   #set($filetype = "file")
## #end

## Row 1: Icon and Title and mlt link
<div class="result-title">
  ## Icon
  ## Small file type icons from http://www.splitbrain.org/projects/file_icons (public domain)
  
  #if($filetype)
    <img src="#{url_root}/img/filetypes/${filetype}.png" align="center">
  #end

</div>

#if($mltOn != true)
  <div><a class="read-more" href="#lensNoQ&q=id:$docId&mlt=true">Read More</a></div>
#end

## Display Similar Documents / MLT = More Like This
#if($mltOn == true)
<div class="mlt">
  #set($mlt = $mltResults.get($docId))
  #set($mltOn = $params.getBool('mlt'))
  #if($mltOn == true)
    <div class="field-name">
      Similar Items
    </div>
  #end
  ## If has MLT enabled An Entries to show
  #if ($mltOn && $mlt && $mlt.size() > 0)
    <ul>
      #foreach($mltHit in $mlt)
        #set($mltId = $mltHit.getFieldValue('id'))
        <li>

###################
#foreach ($field in $similar_fields)

    #set($name = $field['name'])
    #set($label = $field['label'])
    #set($access_point = $field['access_point'])

    #set($value_array = $mltHit.getFieldValue($name))

    <div>
        #if($label != false)
            <strong>$label</strong>:
        #end
        
        #if (!$value_array.size())
            #set ($value_array = [$value_array])
        #end

        #set( $comma = "" )
        #foreach ($value in $value_array)
            <span>
                #set($display_value = $value)
                #if ($label == false)
                    #set($display_value = "<strong>"+$value+"</strong>")
                #end


                $comma

                #if($access_point==false)
                    $display_value
                #else
                    #if($name == 'title')
                        #set($access_point = '?q=id:%22'+$mltId+'%22&mlt=true')
                    #else
                        #set($access_point = '?q='+$name+':%22'+$value+'%22')
                    #end
                    <a href="$access_point">
                        $display_value
                    </a>
                #end
            <span>
            #set( $comma = "," )
        #end



    </div>
#end

          ############################################

        </li>
      #end    ## end for each mltHit in $mlt
    </ul>
  ## Else MLT Enabled but no mlt results for this query
  #elseif($mltOn && $mlt.size() == 0)
    <div>No Similar Items Found</div>
  #end
</div>  ## div class=mlt
#end


## Last_Modified Date
#if($doc.getFieldValue('last_modified'))
  <div>
    last-modified:
    #field('last_modified')
  </div>
#end


#parse('debug.vm')
