#**
 *  Render a complex document in the results list
 *#

#############################

#parse("richtext_fields.vm")

#############################

## Load Mime-Type List and Mapping
#parse('mime_type_lists.vm')
## Sets:
## * supportedMimeTypes, AKA supportedtypes
## * mimeExtensionsMap, AKA extMap


  #set($mlt = $mltResults.get($docId))
  #set($mltOn = $params.getBool('mlt'))

## Title
#if($doc.getFieldValue('title'))
  #set($title = $esc.html($doc.getFirstValue('title')))
#else
  #set($title = "["+$doc.getFieldValue('id')+"]")
#end

## URL
#if($doc.getFieldValue('url'))
  #set($url = $doc.getFieldValue('url'))
#elseif($doc.getFieldValue('resourcename'))
  #set($url = "file:///$doc.getFieldValue('resourcename')")
#else
  #set($url = "$doc.getFieldValue('id')")
#end

## Sort out Mime-Type
#set($ct = $list.get($doc.getFirstValue('content_type').split(";"),0))
#set($filename = $doc.getFieldValue('resourcename'))
#set($filetype = false)
#set($filetype = $mimeExtensionsMap.get($ct))

## TODO: falling back to file extension is convenient,
## except when you don't have an icon for that extension
## example "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
## document with a .docx extension.
## It'd be nice to fall back to an "unknown" or the existing "file" type
## We sort of do this below, but only if the filename has no extension
## (anything after the last dot).

#if(!$filetype)
  #set($filetype = $filename.substring($filename.lastIndexOf(".")).substring(1))
#end

## #if(!$filetype)
##   #set($filetype = "file")
## #end
## #if(!$supportedMimeTypes.contains($filetype))
##   #set($filetype = "file")
## #end

## Row 1: Icon and Title and mlt link
<div class="result-title">
  ## Icon
  ## Small file type icons from http://www.splitbrain.org/projects/file_icons (public domain)
  
  #if($filetype)
    <img src="#{url_root}/img/filetypes/${filetype}.png" align="center">
  #end

  ## Title, hyperlinked
  <a href="#lensNoQ&q=id:%22$docId%22&mlt=true">
    <b>$title</b>
  </a>


  #**
  ## Link for MLT / More Like This / Find Similar
  <span class="mlt">
    #if($params.getBool('mlt', false) == false)
      <a href="#lensNoQ&q=id:%22$docId%22&mlt=true">
        More Like This</a>
    #end
  </span>
  **#

</div>

#**
## Row 2?: ID / URL
<div>
  Id: #field('id')
</div>

## Resource Name
<div>
  #if($doc.getFieldValue('resourcename'))
    Resource name: $filename 
  #elseif($url)
    URL: $url
  #end
  #if($ct)
    ($ct)
  #end
</div>
*#


<!-- 欄位 -->

<!--
<div>Id: #field('id')</div>
<div>Price: #field('price_c')</div>
<div>Features: #field('features')</div>

#if($doc.getFieldValue('place'))
    <div>Place: #field('place')</div>
#end

<div>In Stock: #field('inStock')</div>
-->
<div style="display:none;">Id: #field('id')</div>
<!-- <div>Title: #field('title')</div> -->
<div><strong>Author: </strong>
  #set($comma='')
  #foreach($au in $doc.getFieldValue('author'))
    $comma
    $au
    #set($comma=',')
  #end
</div>

  #if($doc.getFieldValue('translator'))
  <div><strong>Translator:</strong> #field('translator')</div>
  #end

  #if($mltOn == true)
  <div><strong>Publisher:</strong> #field('publisher')</div>
  #end

  #if($mltOn == true && $doc.getFieldValue('place'))
  <div><strong>Place:</strong> #field('place')</div>
  #end

<div><strong>Publish Year:</strong> #field('publish_year')</div>



  #if($mltOn == true)
  
  #if($doc.getFieldValue('page'))
    <div><strong>Page:</strong> #field('page')</div>
  #end
  #if($doc.getFieldValue('thickness'))
    <div><strong>Thickness:</strong> #field('thickness')</div>
  #end

  #if($doc.getFieldValue('edition'))
    <div><strong>Edition:</strong> #field('edition')</div>
  #end

  #if($doc.getFieldValue('isbn'))
    <div><strong>ISBN:</strong> #field('isbn')</div>
  #end
  #if($doc.getFieldValue('e_book_isbn'))
    <div><strong>E-book ISBN:</strong> #field('e_book_isbn')</div>
  #end

  #if($doc.getFieldValue('ddc'))
    <div><strong>DDC:</strong> #field('ddc')</div>
  #end
  
  #if($doc.getFieldValue('lcc'))
    <div><strong>LCC:</strong> #field('lcc')</div>
  #end

#end


  <div><strong>Subject:</strong>

    #set($comma='')
    #foreach($item in $doc.getFieldValue('subject'))
      $comma
      
      <a href="#lensNoQ&q=subject:%22$item%22">
        $item
      </a>
      #set($comma=',')
    #end
  </div>
  
#if($mltOn == true)
  <hr />
  #foreach($features_item in $doc.getFieldValue('toc'))
    <p>$features_item</p>
  #end
  
  #if($doc.getFieldValue('thickness'))

  <hr />
  <div><strong>Table of Contents:</strong></div>
  <ul>
  #foreach($toc_item in $doc.getFieldValue('toc'))
    <li>$toc_item</li>
  #end
  </ul>
  #end

  #end

#if($mltOn != true)
  <div><a class="read-more" href="#lensNoQ&q=id:$docId&mlt=true">Read More</a></div>
#end

## Last_Modified Date
#if($doc.getFieldValue('last_modified'))
  <div>
    last-modified:
    #field('last_modified')
  </div>
#end

## Main content of doc
#if($doc.getFieldValue('content'))
  <div class="result-body">
    #field('content')
  </div>
#end

## Display Similar Documents / MLT = More Like This
#if($mltOn != true)
<div class="mlt">
  #set($mlt = $mltResults.get($docId))
  #set($mltOn = $params.getBool('mlt'))
  #if($mltOn == true)
    <div class="field-name">
      Similar Items
    </div>
  #end
  ## If has MLT enabled An Entries to show
  #if ($mltOn && $mlt && $mlt.size() > 0)
    <ul>
      #foreach($mltHit in $mlt)
        #set($mltId = $mltHit.getFieldValue('id'))
        <li>
          <div>
            <span class="field-name">
              Title:
            </span>
            
            #foreach($item in $mltHit.getFieldValue('title'))
                <a href="#lensNoQ&q=id:%22$mltId%22&mlt=true">
                $item
                </a>
            #end
          </a>
          </div>
          <div>
            <span class="field-name">
              Author:
            </span>
            
            #foreach($item in $mltHit.getFieldValue('author'))
                $item
            #end


            #if($mltHit.getFieldValue('description'))
              <span class="field-name">
                Description:
              </span>
              $mltHit.getFieldValue('description')
            #end
          </div>
        </li>
      #end    ## end for each mltHit in $mlt
    </ul>
  ## Else MLT Enabled but no mlt results for this query
  #elseif($mltOn && $mlt.size() == 0)
    <div>No Similar Items Found</div>
  #end
</div>  ## div class=mlt
#end


## Last_Modified Date
#if($doc.getFieldValue('last_modified'))
  <div>
    last-modified:
    #field('last_modified')
  </div>
#end


#parse('debug.vm')
